<h1>Listing quetions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Answer1</th>
    <th>Answer2</th>
    <th>Answer3</th>
    <th>Point1</th>
    <th>Point2</th>
    <th>Point3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quetions.each do |quetion| %>
  <tr>
    <td><%= quetion.title %></td>
    <td><%= quetion.description %></td>
    <td><%= quetion.answer1 %></td>
    <td><%= quetion.answer2 %></td>
    <td><%= quetion.answer3 %></td>
    <td><%= quetion.point1 %></td>
    <td><%= quetion.point2 %></td>
    <td><%= quetion.point3 %></td>
    <td><%= link_to 'Show', quetion %></td>
    <td><%= link_to 'Edit', edit_quetion_path(quetion) %></td>
    <td><%= link_to 'Destroy', quetion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quetion', new_quetion_path %>
